input {
  height: 20px;
  margin: 10px;
  padding: 5px; }

.btn {
  width: 100px;
  height: 30px;
  padding: 5px;
  cursor: pointer; }

body {
  background-color: #252323; }

.editar {
  width: 500px;
  height: 350px;
  background-color: white;
  border: 1px solid black;
  margin: auto;
  margin-top: 10px; }

.title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px; }

hr {
  margin-bottom: 10px; }

label {
  margin-left: 45px;
  font-size: 16pt;
  color: black; }

input {
  font-size: 12pt; }

#salvar-edicao {
  background-color: #001380;
  color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 3px 3px black;
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom: 35px; }
